body
{
    background-color: rgb(36, 36, 75);
}

.container
{
    max-width: 400px;
}

input[type="text"], input[type="text"]:focus
{
    color: white;
    background: rgb(18, 18, 41);
    border: none;
    max-width: 400px;
}

.todos li{
    background:rgb(66, 66, 133);
}
i
{
    cursor: pointer;
}